.wrap {
  padding: 10px;
  resize: vertical;
  min-height: 100px;
  border-radius: 5px;
  background-color: var(--secondary);
  color: var(--secondary-color);
  border: none;
  box-shadow: var(--shadow);
}
