@import "themes";

*,
*::before,
*::after {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--secondary-color);
}

body {
  background-color: var(--body-background-color);
}

button, textarea, input, a {
  //outline: none;
  &:focus {
    //outline: 4px solid var(--primary);
    //box-shadow: var(--outline-shadow);
  }

}

.body-overflow-hidden {
  overflow: hidden;
}


* {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-track {
    background: var(--white);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    border-radius: 20px;
    border: 1px solid var(--white);
  }
}



