:root {
  --primary: #4F27BF;
  --primary-color: #fff;
  --secondary: #fff;
  --secondary-color: #1C1C1E;
  --body-background-color: #999;
  --shadow: 0px 0px 5px rgba(2, 0, 96, 0.25);
  --outline-shadow: 0px 0px 5px 2px  black;
  --link-primary-color: #e6e78b;
  --link-secondary-color: #3265c2;
  --left-menu-hover-link-background-color: rgba(0, 0, 0, 0.1);
  --form-validation-error-color: red;
  --spinner-color: lightskyblue;
  --alert-background-color: pink;
  --alert-color: #333;

}

.dark {
  --primary: #444;
  --primary-color: #fff;
  --secondary: #333;
  --secondary-color: #ddd;
  --body-background-color: #222;
  --shadow: 0px 0px 5px rgba(200, 200, 200, 0.25);
  --outline-shadow: 0px 0px 5px 2px  #e6e78b;
  --link-primary-color: #3265c2;
  --link-secondary-color: #e6e78b;
  --left-menu-hover-link-background-color: rgba(255, 255, 255, 0.1);
  --form-validation-error-color: red;
  --spinner-color: #bbb;
  --alert-background-color: #770000;
  --alert-color: #ffffff;
}
