.link {
  text-decoration: none;
  font-size: 20px;
  color: var(--link-secondary-color);
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
  transition: font-size 150ms, background-color 300ms;
  width: 100%;
  display: flex;
  height: 40px;
  align-items: center;
  padding: 5px 10px;
  border-radius: 5px;

  &:hover {
    background-color: var(--left-menu-hover-link-background-color);
  }

}

.activeLink {
  color: var(--link-secondary-color);
  font-size: 24px;
  font-weight: 500;
}
